<div class="container-content">
    <div class="tinder-content-wrap">
        <section class="card-wrap">
            <div #tinderCard
                class="card-item"
                *ngFor="let user of users; let index = index">
                <app-tinder-card [ngStyle]="{ zIndex: users.length - index}"
                    [user]="user">
                </app-tinder-card>
            </div>
        </section>
        <section class="card-actions">
            <div class="card-actions-wrap">
                <button mat-raised-button
                    color="primary"
                    (click)="onLiked(cardIndex)">Like</button>
                <button mat-raised-button
                    (click)="onDisliked(cardIndex)">Dislike</button>
            </div>
        </section>
    </div>
    <div class="tinder-content-wrap-matched"
        [class.show]="users[cardIndex]?.matchedYou">
        <section class="card-wrap-matched">
            <div class="card-wrap-matched-block">
                <p>You got mathed!</p>
            </div>
        </section>
        <section class="card-actions">
            <div class="card-actions-wrap">
                <button mat-raised-button
                    color="primary"
                    (click)="onNext(cardIndex)">Okey</button>
            </div>
        </section>
    </div>
</div>